<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361920258174-e91udmpani4vf4rdbh5h1bdb1ccgoi94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361920258174-e91udmpani4vf4rdbh5h1bdb1ccgoi94</string>
	<key>API_KEY</key>
	<string>AIzaSyA-i5W_2ml4DZt6sNb5ulipZz2ClgiDXNo</string>
	<key>GCM_SENDER_ID</key>
	<string>361920258174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creativegames.tictactoe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-279f1</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-279f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361920258174:ios:59b61ec1bd6d4ee2d5382f</string>
	<key>DATABASE_URL</key>
	<string>https://tictactoe-279f1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>